* {
    padding: 0px;
    margin: 0px;
}

button {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: lightgray;

    border: none;
    /* border: 1.5px solid rgb(213, 51, 30); */
    color: black;
    transition: 0.35s;
}

button:hover {
    transition: 0.35s;
    background-color: rgb(213, 51, 30);

    color: whitesmoke;
}

body {
    background-color: #424242;
    color: rgb(213, 51, 30);

    font-family: "B612", sans-serif;
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(
            0px,
            1fr
        );
}

header {
    background-image: url("media/headerphoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    grid-row: 3 / 4;
    grid-column: 2 / -2;
    border-bottom: 10px solid #424242;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    margin: 10px;
    text-align: center;
}

input {
    margin-bottom: 10px;
}

main {
    padding: 25px 2em 50px;
    display: block;
    background-color: #a9acb0;
    grid-row: 4 / 5;
    grid-column: 2 / -2;
}

#buttonSection {
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
    align-items: flex-end;
}

#new-assignment-button {
    grid-column: 7 / 8;
}

.assignments {
    transition: 0.5s;
    margin: 10px;
    padding: 15px 1em 15px;
    background-color: lightgray;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    border-left: 12px solid black;
}

.assignments:hover .details {
    transition: 0.15s;

    height: 100px;
    overflow: visible;
}

.assignments:hover {
    transition: 0.25s ease-in-out;
    background-color: #fafafa;
    border-color: rgb(213, 51, 30);
}

.backgroundOfModal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.completeButton:hover {
    background-color: green;
    border-color: green;
}

.details {
    height: 0;
    transition: 0.25s ease;
    overflow: hidden;
}

.headerButton {
    font-family: "B612", sans-serif;
    background-color: red;
    border: 0px;
    border-color: whitesmoke;
    color: whitesmoke;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hide {
    visibility: hidden;
    transition: visibility 0s, linear;
}

.modal {
    background-color: #a9acb0;
    border: 2px solid rgb(213, 51, 30);
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 30px 30px;
}
