/* Structual Elements Go Here */
body{
    background-color: #edeeef;
    color: #555;
    margin: 0;
    font-family: Lato;
}

#wrapper{
    display: grid;

    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

nav{
    grid-column: 2 / 3;
    background-color: #edeeef;
}

main{
    grid-column: 3 / -2;
    background-color: #fff;
    padding: 20px;
}

footer{
    grid-column: 3 / -2;
    background-color: #2b5ba6;
    color: #fff;
    font-size: .5rem;
    padding: 20px;
    text-align: center;
}

/* Navigation Elements Go Here */
nav ul{
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

nav ul li{
    width: 100%;
}

nav ul li a{
    width: 100%;
    text-decoration: none;
    color: #555;
    padding: 10px;
    display: block;
}

nav a:hover{
    background-color: #fff;
    color: #d53631;
}

nav a:hover .active{
    background-color: #fff;
    color: #d53631;
}


/* Styling Elements Go Here */
p{
    line-height: 1.25rem;
}

link{
    color: #fff;
}

.hBorder{
    width: 2px;
    color: #555;
}

.mainMedia{
    width: 100%;
    height: auto;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bodyImages{
    display: flex;
    float: right;
    width: 300px;
    padding: 10px 0px 0px 10px; 

}

.caption{
    display: flex;
    float: right;
    font-size: .75rem;
    font-style: italic;

}

hr{
    border-top: 2px solid black;
    padding-top: 0px;
}

/* Media Query of 960 and less goes here */

@media only screen and (max-width: 900px){

    nav ul{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }

    .bodyImages{
        width: 100%;
        padding: 0px;
        float: none;
    }

}

